models/
logs/
intruders/
memory/
__pycache__/
main_app.py
firebase_key.json
data/trusted_device.json
data/security/intruder_log.json
core5_system_actions.log
venv
venv/lib/site-packages/pip/_internalutils/logging.py
venv/lib/site-packages/pip/_internalutils/misc.py
venv/lib/site-packages/pip/_internalutils/models.py
venv/lib/site-packages/pip/_internalutils/packaging.py
venv/lib/site-packages/pip/_internalutils/setuptools_build.py
data/security/guest_history.json
data/security/sibling_history.json